.container {
  margin-top: 100px;
}
.avatar {
  min-height: 70px;
  min-width: 70px;
}
.search {
  padding: 0 25px;
}
h5 {
  margin: 25px 0;
}
.more-view td {
  padding-bottom: 25px;
  padding-left: 25px;
}
.more-view-content {
  max-width: 50%;
}
.fixed-view {
  position: fixed;
  top: 55px;
  background: #fff;
  width: 100%;
  left: 0;
  right: 0;
  display: table-row;
}
.fixed-view td:not(:first-child) {
  display: none !important;
}
.fixed-view + .more-view .more-view-content {
  padding-top: 95px;
}
